nav {
  background-color: #1a1a1a; /*Gray background ig*/
  padding: 20px 40px;
  display: flex; /*Displays these contents side by side*/
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid red;
}

nav h1{
  color: red;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Sekuya', system-ui;
  display: flex;
  align-items: center;
}

nav h1 img{
  width: 100px;
  padding: 10px;
}

nav ul{
  list-style: none;
  display: flex;   gap: 40px;
}

nav ul li{
  font-family: "Share Tech", sans-serif;
  cursor: pointer;
}

nav ul li:hover{
  color: red;
  transition: color 0.2s ease;
}

div h2 {
  font-family: 'Sekuya', system-ui;
  font-size: 20px;
}

.view {
  padding: 60px 40px;
}

#home {
  text-align: center;
}

#home h2 {
  letter-spacing: 6px;
  font-size: 48px;
  text-transform: uppercase;
}

#home .about {
  font-family: "Share Tech", sans-serif;
}

#home .subtitle {
  font-weight: bold;
  font-style: oblique;
  font-family: "Share Tech", sans-serif;
  letter-spacing: 2px;
}

body {
    background-color: black;
    color: white;
}
